# Database Configuration
# Get your Neon database connection string from: https://console.neon.tech
DATABASE_URL="postgresql://neondb_owner:npg_D6ehN8HxqyIX@ep-curly-scene-aoomk560-pooler.c-2.ap-southeast-1.aws.neon.tech/gdv_society_db?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_D6ehN8HxqyIX@ep-curly-scene-aoomk560-pooler.c-2.ap-southeast-1.aws.neon.tech/gdv_society_db?sslmode=require&channel_binding=require"
ORG_KEY="napi_s0i536suvgb759rhy5ki14fc6ye0ybu6wtnqx4k09lmnlxeard6sl3p6dnkw1bpb"
CREDENTIALS="!Mw#h@bCrrZ4Xkg"

# NextAuth Configuration
NEXTAUTH_SECRET="Ox/Bhn2blZzj2YLRnhUKUodO5+hA44li6DSEXaY8B7U="
NEXTAUTH_URL="https://gdv-society.vercel.app"

# Application Configuration
ADMIN_EMAIL="admin@admin.com"
ADMIN_PASSWORD="!Mw#h@bCrrZ4Xkg"
PASSWORD_RESET_EXPIRY="3600"

# Node Environment
NODE_ENV="development"
